* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --second-color: #b9b9b9;
  --primary-color: #b9b9b9;
  --black-color: #000;
}

body {
  background-position: center;
  background-image: url(pj.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: var(--second-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(25px);
  min-width: 450px;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  color: var(--second-color);
}

.login-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  background-color: var(--primary-color);
  border-radius: 0 0 20px 20px;
  height: 70px;
  margin-bottom: 2rem;
}

.login-title span {
  color: var(--black-color);
  font-size: 30px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  font-size: 1.2rem;
  height: 50px;
  background: transparent;
  border-radius: 30px;
  outline: none;
}

#user {
  margin-bottom: 10px;
}

.lable {
  display: flex;
  justify-content: center;
}

.remember-me {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  margin: 10px 0;
  padding: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  border: solid 1px #000;
  border-radius: 20px;
}
